---
layout: markdown_page
title: "Sec Section Principal Engineer Priorities"
description: "A prioritized list of issues requiring help from a Principal Engineer across the Sec section."
---

- TOC
{:toc}

## Sec section Principal Engineer Product Priorities

| | |
| --- | --- |
| Section | [Sec](/direction/sec/) |
| Content Last Reviewed | `2023-11-14` |
| Content Last Updated  | `2023-11-14` |

## Overview

This prioritized list contains initiatives where help from a Principal Engineer would be the most beneficial for the Sec section. The criteria for inclusion in this list is in balancing high priority to the business and level of technical effort that is not likely to succeed without involvement by a Principal Engineer. Principal engineers are also encouraged to identify and propose projects they believe would have a significant impact on their section and the company. 

## Product Priorities

| Priority / Name / Size / Group | Comments |
| ------------------------------ | -------- |
<% data.product_priorities.sec_principal_engineer.priorities.each.with_index do |priority, index| %>
| **Priority:** `<%= index + 1 %>`<br><br>[<%= priority.name %>](<%= priority.url %>)<br><br>**Estimated Size:** `<%= priority.estimated_size.presence || "TBD" %>`<br><br>`<%= priority.group || "TBD" %>` | <%= priority.comments.presence.gsub(/\n/, '<br><br>') || "TBD" %>  |
<% end %>

*This page may contain information related to upcoming products, features and functionality.

It is important to note that the information presented is for informational purposes only, so please do not rely on the information for purchasing or planning purposes.

Just like with all projects, the items mentioned on the page are subject to change or delay, and the development, release, and timing of any products, features, or functionality remain at the sole discretion of GitLab Inc.*
